/*estilos para todos los componentes*/
.containerIconCart{
    padding: 5px;
    background-color: rgba(155, 155, 246, 0.672);
    border-radius: 15px;
    margin: 3px 15px 3px 0;
    height: 80px;
    width: 80px;
}
.iconCarrito{
    height: 70px;
}
.divSpanNumberCart{
    position: absolute;
    background-color: white;
    width: 22px;
    height: 22px;
    border-radius: 50px;
}
.SpanNumberCart{
    font-size: 14px;
    font-weight: bolder;
    display: flex;
    justify-content: center;
}
.componentCantAgregar{
    height: 150px;
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.containerCantidadAgregada{
    height: 35px;
    width: 150px;
    margin: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-radius: 10px;
}
.btnCantidadAgregada{
    height: 35px;
    width: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    font-weight: bolder;
}
.spanCantidadAgregada{
  font-weight: bolder;
}
.btnAgregarCarrito{
    border: none;
}
.containerItems{
    margin-right: 0;
    justify-content: space-between;
}
.imgProducts{
    height: 200px;
    width: 250px;
}
.cardProduct{
    width: 300px;
    margin: 10px;
}
.divCardProduct{
    display: flex;
    align-items: center;
}
.divBtnCardProduc{
    display: flex;
    justify-content: center;
}